.portrait-warning {
    display: none;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:silver;
    background-image: url(images/background3.png)
}

.warning-text {
    font-size: 4vh;
    position: relative;
    top: 8%;
    padding: 0 20px;
}

.warning-img {
    position: absolute;
    height: 40vh;
    width: 40vh;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.warning-img img {
    height: 100%;
}

@media screen and (orientation: portrait) {
    .portrait-warning {
        display: initial;
    }
}

body{
    font-size: 0px;
    margin: 0px;
    background-image: url(images/background2.jpg);
    background-size: contain;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}
.game{
    height: 100vh;
    position: relative;
}
.gameHeader{
    display: inline-block;
    height: 100%;
    width: 16%;
    vertical-align: bottom;
}
.mainContent{
    display: inline-block;
    height: 100%;
    width: 84%;
    vertical-align: bottom;
}
.gameLogo{
    height: 15%;
    width: 100%;
    background-color: rgb(5, 6, 10);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.gameLogo:hover{
    cursor: pointer;
}

.gameStats{
    width: 100%;
    height: 85%;
    position: relative;
    display: block;
}

.statsContainer{
    height: 25%;
    width: 100%;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    background-image: url(images/gwentsettingsbox.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 1.2rem;
    color: silver;
    font-family: Mason, Arial, Helvetica, sans-serif;
}

.reset{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.reset>img:hover{
    cursor: pointer;
}

.games-played, .attempts, .accuracy, .buttoncontainer{
    width: 70%;
    height: 70%;
    position: relative;
    top: 15%;
    left: 15%;
    text-align: center;
}

.buttoncontainer{
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 10%;
    text-align: center;
}

.label.stats{
    margin-bottom: 10px;
}

.gameContent{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.gameArea{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(images/background1.jpg);
    background-position: center;
    background-size: cover;;
    background-repeat: no-repeat;
}

.cardContainer{
    width:16.66%;
    height: 33.33%;
    position: relative;
    display: inline-block;
    outline: none;
}

.cardWithinACard:hover{
    cursor: pointer;
}

.cardWithinACard{
    position: relative;
    width: 70%;
    height: 90%;
    top: 5%;
    left: 15%;
    transition: transform 0.8s;
    transform-style: preserve-3d
}

.onClick{
    transform: rotateY(180deg);
}

.frontcard{
    height: 95%;
    width: 95%;
    position: absolute;
    top: 5%;
    right: 5%;
}

.backcard{
    background-color: rgba(41, 90, 82, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden
}

.hide{
    display: none;
}

.noClick{
    pointer-events: none;
}

.victory{
    height: 100vh;
    width: 100%;
    background-image: url(images/background4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    text-align: center;
}

@font-face {
    font-family: Mason;
    src: url(./mason.ttf);
}

.victoryText{
    color: black;
    font-size: 11vh;
    height: 60%;
    width: 60%;
    top: 10%;
    bottom: 30%;
    left: 20%;
    position: relative;
    font-family: Mason, Arial, Helvetica, sans-serif;
}

.victoryButton{
    height: 20%;
    width: 60%;
    left: 20%;
    position: relative;
    text-align: center;
}

.animate{
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.beginAgainText:hover{
    cursor: pointer;
    text-shadow: -0 0 7px rgb(255, 255, 255);
}

.beginAgain{
    background:none;
    border:none;
    margin:0;
    padding:0;
    
}

.beginAgainText{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Mason, Arial, Helvetica, sans-serif;
    text-shadow: -0 0 3px rgb(255, 238, 0);
    z-index: 20;
    transition: text-shadow 0.15s linear;
}

.cardContainer, .reset, .beginAgain, .victoryText, .label, .value {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    outline: none;
}